nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #fdfbf8;
}

.height90 {
    height: 90vh;
}

.height100 {
    height: 100vh;
}

.background-coffee {
    background-color: #1b1107;
    color: #fdfbf8;
}

* {
    margin: 0;
    padding: 0;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button {
    display: inline-block;
    background-color: #fdfbf8;
    color: #1b1107;
    margin-top: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.p-64 {
    padding: 64px;
}

.px-64 {
    padding-left: 64px;
    padding-right: 64px;
}

.background-light-coffee {
    background-color: #efdfc4;
    color: #1d0f08;
}

.best-sellers-card {

    padding: 1rem;
    border-radius: 1rem;

}

.best-sellers-card img {
    width: auto;
    height: 300px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin: auto;

}

.best-sellers-card h3 {
    text-align: center;
    font-size: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.comunity-card {
    padding-top: 64px;
    padding-left: 64px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.contact-section {
    background-color: #1b1107;
    color: #fdfbf8;
    padding: 32px;
    padding-top: 0px;
}

.max-width {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

.i-follow-us {
    font-size: 2rem;
}

.contact-sections>div {
    border-color: #b89d84;
    border: 1px solid;
    padding: 1rem;
}